<h1>Add a message</h1>
<form method="POST" action="/new">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="message" placeholder="Message">
    <button type="submit">Send</button>
</form>